@import "variables.scss";

.graph {
    height: 95vh;
    width: 95vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        height: 100%;
        width: 100%;
        .bar {
            width: 100%;
        }
        p {
            margin-top: 5px;
            height: 1rem;
            width: 1rem;
            text-align: center;
            writing-mode: vertical-rl;
        }
    }
}
//bar states
.none {
    background: $secondary;
}
.bubble-i {
    background: $green;
}
.bubble-j,
.to-sort {
    background: $red;
}
.done,
.pivot {
    background-color: $green;
}

@media (max-width: $desktop) {
    .graph {
        .wrapper {
            p {
                display: none;
            }
        }
    }
}

@media (max-width: $mobile) {
    .graph {
        width: 98vw;
    }
}
